[submodule "extern/mdcore"]
	path = extern/mdcore
	url = https://github.com/AndySomogyi/mdcore.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/AndySomogyi/glfw.git
[submodule "extern/magnum"]
	path = extern/magnum
	url = https://github.com/AndySomogyi/magnum.git
[submodule "extern/corrade"]
	path = extern/corrade
	url = https://github.com/AndySomogyi/corrade.git
[submodule "extern/Voroxx"]
	path = extern/Voroxx
	url = https://github.com/AndySomogyi/Voroxx.git
[submodule "extern/sundials"]
	path = extern/sundials
	url = https://github.com/AndySomogyi/sundials.git
[submodule "extern/DirectXMath"]
	path = extern/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
