[submodule "deps/mdcore"]
	path = extern/mdcore
	url = https://github.com/AndySomogyi/mdcore.git
[submodule "docs"]
	path = docs
	url = https://github.com/AndySomogyi/mechanica.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/AndySomogyi/glfw.git
[submodule "extern/nanogui"]
	path = extern/nanogui
	url = https://github.com/AndySomogyi/nanogui.git
[submodule "extern/magnum"]
	path = extern/magnum
	url = https://github.com/AndySomogyi/magnum.git
[submodule "extern/corrade"]
	path = extern/corrade
	url = https://github.com/AndySomogyi/corrade.git
[submodule "extern/magnum-plugins"]
	path = extern/magnum-plugins
	url = https://github.com/AndySomogyi/magnum-plugins.git
	branch = assimp-importer
[submodule "extern/Voroxx"]
	path = extern/Voroxx
	url = https://github.com/AndySomogyi/Voroxx.git
